body, html {
    margin: 0;
    padding: 0;
    width: 100%
}

.background-color {
    background: #c7f3d0;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 390px;
    position: relative;
}
.profile-picture {
    height: 200px;
    left: -2%;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px transparent #343131;
    box-shadow: 4px 4px #313131;
    transition: transform 0.7s ease;
    transform: translateX(0);
    background-color: black;
    z-index: 2;
}

.profile-picture.active {
    transform: translateX(-300px);
}
.avatar-placeholder {
    height: 390px;
} 

.projects-placeholder {
    height: 600px;
}
.info-container {
    width: 65%;
    height: 94%;
    left: 18%;
    top: 3.5%;
    position: absolute;
    align-items: center;
    display: flex;
    opacity: 0;
    transition: opacity 0.7s ease;
}

.info-container.active {
    opacity: 1;
}

@keyframes infoBoxAnimation {
    0% {
        width: 0%;
        left: 48%;
        opacity: 1;
    }
    100% {
        width: 35%;
        left: 15%;
        opacity: 1;
    }
}

@keyframes infoBallAnimation {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 1;
    }
    10% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes infoBoxAnimationReverse {
    0% {
        width: 35%;
        left: 15%;
        opacity: 1;
    }
    100% {
        width: 2%;
        left: 48%;
        opacity: 1;
    }
}

@keyframes infoBallAnimationReverse {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.info-box {
    opacity: 1;
    height: 79.2%;
    left: 48%;
    width: 0%;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to bottom, #269d3e, #b3ffc2, #269d3e);
    border-top: #000702 2px solid;
    border-bottom: #000702 2px solid;
    animation: infoBoxAnimationReverse 0.7s ease forwards;
    /*#a6edb4*/
}
.info-ball {
    height: 79.2%;
    width: 30%;
    border-radius: 50%;
    background: linear-gradient(to bottom, #269d3e, #b3ffc2, #269d3e);
    border: 0px 0px 2px 2px black solid;
    position: relative;
    left: 34%;
    z-index: 0;
    border: 2px solid black;
    opacity: 0;
    animation: infoBallAnimationReverse 0.7s ease forwards;
}

.info-container.active .info-box {
    animation: infoBoxAnimation 0.7s ease forwards;
}
.info-container.active .info-ball {
    animation: infoBallAnimation 0.7s ease forwards;
}



.info-text {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0px;
    position: absolute;
    left: 40%;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    opacity: 0;
}

.background-triangle {
    height: 0;
    width: 0;
    border-left:  60vw solid transparent;
    border-right: 60vw solid transparent;
    border-bottom: 100px solid #269d3e;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    margin-bottom: -1px;
}
.background-bottom-triangle {
    height: 0;
    width: 0;
    border-left:  50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 100px solid #c7f3d0;
    position: absolute;
    bottom: -1px;
}
.background-square {
    height: 350px;
    width: 100vw;
    background: #269d3e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.down-arrow {
    position: absolute;
    top:-20px;
    border: 2px solid #343131;
    box-shadow: 3px 3px #313131;
    transition-duration: 0.2s;
    background-color: #c7f3d0;
}

.down-arrow:hover {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px 0px #343131;
}

.down-arrow:active {
    transition: 0.1s;
    transform: translate(7px, 5px);
    border-left: 4px solid #343131;
    border-top: 4px solid #343131;
    border-right: 2px solid #343131;
    border-bottom: 2px solid #343131;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}


.imageDiv {
    height: 200px;
    display: flex;
    justify-content: center;
    height: 150px
}
