body, html {
    margin: 0;
    padding: 0;
    width: 100%
}

.background-color {
    background: #c7f3d0;
    display: flex;
    min-height: 100%;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 390px;
    position: relative;
}
.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 300px;
    width: 300px;
    transition: transform 1s ease-in-out;
    transform: translateX(0);
    transform-origin: 0; 
    transform-style: preserve-3d;
    z-index: 2;
}
.profile-picture .front {
    height: 290px;
    width: 300px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px transparent #343131;
    box-shadow: 4px 4px #313131;
    background-color: black;
    z-index: 3;
    backface-visibility: hidden;
}


.profile-picture .back {
    position: fixed;
    height: 290px;
    width: 300px;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px transparent #343131;
    box-shadow: 4px 4px #313131;
    
    /*https://stackoverflow.com/a/56922634*/
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAPUlEQVQoU43PQQoAMAgDweT/j7ZYUGoRo+dhicTujAtnAKjgRR6bYCIFy6quWEqh1casvrAt/cURxTMSOTyKNQgKOBqKWwAAAABJRU5ErkJggg==
    ) repeat;
    border: 1px solid #343131;
    z-index: 2;
}

.profile-picture.active {
    transform: rotateY(180deg);
}
.avatar-placeholder {
    height: 390px;
} 

.projects-placeholder {
    height: 600px;
}



.info-ball {
    height: 290px;
    width: 300px;
    border-radius: 50%;
    background: #b0d8b8;
    z-index: 0;
    border: 4px solid black;
    opacity: 0;
    animation: infoBallAnimationReverse 0.7s ease forwards;
}


.info-text {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0px;
    position: absolute;
    margin-bottom: 0px;
    padding: 0px;
    text-align: center;
    opacity: 0;
}

.background-triangle {
    height: 0;
    width: 0;
    border-left:  60vw solid transparent;
    border-right: 60vw solid transparent;
    border-bottom: 100px solid #269d3e;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    margin-bottom: -1px;
}
.background-bottom-triangle {
    height: 0;
    width: 0;
    border-left:  50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 100px solid #c7f3d0;
    position: absolute;
    bottom: -1px;
}
.background-square {
    height: 350px;
    width: 100vw;
    background: #269d3e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.down-arrow {
    position: absolute;
    top:-20px;
    border: 2px solid #343131;
    box-shadow: 3px 3px #313131;
    transition-duration: 0.2s;
    background-color: #c7f3d0;
}

.down-arrow:hover {
    transform: translate(5px, 5px);
    box-shadow: 0px 0px 0px #343131;
}

.down-arrow:active {
    transition: 0.1s;
    transform: translate(7px, 5px);
    border-left: 4px solid #343131;
    border-top: 4px solid #343131;
    border-right: 2px solid #343131;
    border-bottom: 2px solid #343131;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}


.imageDiv {
    height: 200px;
    display: flex;
    justify-content: center;
    height: 150px
}
